{% extends 'base.html' %}
{% load static %}
{% block extra_css%}
{{block.super}}

{% endblock%}

{% block content %}
<div class="container-wrap">
    <img class="index-bg" src="{{MEDIA_URL}}images//background{{bg_no}}.jpg" alt="">
    <!-- SEARCH BAR -->
    <div class="index-content my-4">
        <div class="spacer"></div>
        <div class="row mt-5">
            <div class="offset-2 col-8 offset-2 text-center">
                <h4 class="architects neon-green">This is a Neon Llama</h4>
            </div>
            <div class="offset-2 col-8 offset-2 text-center">
                <form class="form-control search-form form-check-inline bg-dark">
                    <input class="form-control text-white bg-spec-dark d-inline w-25 mx-2 my-2" type="text"
                        placeholder="&#xf002; Search Tour">
                    <select name="country" id="country" class="text-white form-control bg-spec-dark d-inline  w-25"
                        form="search">
                        <option value="Country">Country</option>
                    </select>
                    <select class="form-control text-white d-inline bg-spec-dark w-25 mx-2 my-2" name="cars" id="cars"
                        form="carform">
                        <option value="volvo">Tour Type</option>
                    </select>
                    <select class="form-control text-white d-inline bg-spec-dark w-25 mx-2 my-2" name="cars" id="cars"
                        form="carform">
                        <option value="volvo">Budget</option>
                    </select>
                </form>

            </div>

        </div>

    </div>
    <!-- CONTINENT SELECT -->
    <div class="spacer"></div>
    <div class="row">
        <div class="1-offset col-10 offset-1">
            <div class="row">
                <div class="col-12 col-md-4 grow">
                    <div class="continents row no-gutters m-5">
                        <div class="col-10">
                            <img class="cont-img" src="{{MEDIA_URL}}images/NA.png">
                        </div>
                        <div class="col-2">
                            <h3 class="vert-head text-center align-middle">N. America</h3>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-4 grow">
                    <div class="continents row no-gutters m-5">
                        <div class="col-10">
                            <img class="cont-img" src="{{MEDIA_URL}}images/Europe.png">
                        </div>
                        <div class="col-2">
                            <h3 class="vert-head text-center align-middle">Europe</h3>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-4 grow">
                    <div class="continents row no-gutters m-5">
                        <div class="col-10">
                            <img class="cont-img" src="{{MEDIA_URL}}images/Asia.png">
                        </div>
                        <div class="col-2">
                            <h3 class="vert-head text-center align-middle">Asia</h3>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-4 grow">
                    <div class="continents row no-gutters m-5">
                        <div class="col-10">
                            <img class="cont-img" src="{{MEDIA_URL}}images/SA.png">
                        </div>
                        <div class="col-2">
                            <h3 class="vert-head text-center align-middle">S. America</h3>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-4 grow">
                    <div class="continents row no-gutters m-5">
                        <div class="col-10">
                            <img class="cont-img" src="{{MEDIA_URL}}images/Oceania.png">
                        </div>
                        <div class="col-2">
                            <h3 class="vert-head text-center align-middle">Oceania</h3>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-4 grow">
                    <div class="continents row no-gutters m-5">
                        <div class="col-10">
                            <img class="cont-img" src="{{MEDIA_URL}}images/Africa.png">
                        </div>
                        <div class="col-2">
                            <h3 class="vert-head text-center align-middle">Africa</h3>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-4">
                </div>
                <div class="col-12 col-md-4 grow">
                    <div class="continents row no-gutters m-5">
                        <div class="col-10">
                            <img class="cont-img" src="{{MEDIA_URL}}images/Antarctica.png">
                        </div>
                        <div class="col-2">
                            <h3 class="vert-head text-center align-middle">Antarctica</h3>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="row">
        <div class="col-12 text-center my-5">
            <h3 class="uppercase"><i class="neon-blue exo"> Trending</i>: Countries</h3>
        </div>
    </div>
    <div class="row">
        <div class="1-offset col-10 offset-1">
            <div class="row">
                <div class="col-12 col-md-4 grow">
                    <div class="continents countries row no-gutters m-5">
                        <div class="col-10">
                            <img class="cont-img" src="{{MEDIA_URL}}images/NA.png">
                        </div>
                        <div class="col-2">
                            <h3 class="vert-head text-center align-middle">Thailand</h3>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-4 grow">
                    <div class="continents countries row no-gutters m-5">
                        <div class="col-10">
                            <img class="cont-img" src="{{MEDIA_URL}}images/NA.png">
                        </div>
                        <div class="col-2">
                            <h3 class="vert-head text-center align-middle">Peru</h3>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-4 grow">
                    <div class="continents countries row no-gutters m-5">
                        <div class="col-10">
                            <img class="cont-img" src="{{MEDIA_URL}}images/NA.png">
                        </div>
                        <div class="col-2">
                            <h3 class="vert-head text-center align-middle">Vietnam</h3>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-4 grow">
                    <div class="continents countries row no-gutters m-5">
                        <div class="col-10">
                            <img class="cont-img" src="{{MEDIA_URL}}images/NA.png">
                        </div>
                        <div class="col-2">
                            <h3 class="vert-head text-center align-middle">New Zealand</h3>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-4 grow">
                    <div class="continents countries row no-gutters m-5">
                        <div class="col-10">
                            <img class="cont-img" src="{{MEDIA_URL}}images/NA.png">
                        </div>
                        <div class="col-2">
                            <h3 class="vert-head text-center align-middle">USA</h3>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-4 grow">
                    <div class="continents countries row no-gutters m-5">
                        <div class="col-10">
                            <img class="cont-img" src="{{MEDIA_URL}}images/NA.png">
                        </div>
                        <div class="col-2">
                            <h3 class="vert-head text-center align-middle">Cambodia</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="row">
        <div class="col-12 text-center my-5">
            <h3 class="uppercase"><i class="neon-blue exo"> Top Deals</i></h3>
        </div>
        <div class="row">
            <div class="1-offset col-10 offset-1">
                <div class="row">
                    <div class="col-12 col-md-4 grow">
                        <div class="continents top-deals row no-gutters m-5">
                            <div class="col-10">
                                <img class="deals-img" src="{{MEDIA_URL}}images/indochina.png">
                            </div>
                            <div class="col-2">
                                <h3 class="vert-head deals-head text-center text-black align-middle">Indochina <br>
                                    <i class="neon-red">25% OFF!</i></h3>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-md-4 grow">
                        <div class="continents top-deals row no-gutters m-5">
                            <div class="col-10">
                                <img class="deals-img" src="{{MEDIA_URL}}images/indochina.png">
                            </div>
                            <div class="col-2">
                                <h3 class="vert-head deals-head text-center text-black align-middle">Indochina <br>
                                    <i class="neon-red">25% OFF!</i></h3>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="continents top-deals row no-gutters m-5 grow">
                            <div class="col-10">
                                <img class="deals-img" src="{{MEDIA_URL}}images/indochina.png">
                            </div>
                            <div class="col-2">
                                <h3 class="vert-head deals-head text-center text-black align-middle">Indochina <br>
                                    <i class="neon-red">25% OFF!</i></h3>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
</div>


{% endblock %}