/* ----- Fonts */

.exo{
    font-family: 'Exo', sans-serif;
}
.architects{
    font-family: 'Architects Daughter', cursive;
}


/* ----- Colours */
.text-white{
    color: white;
}

.neon-blue{
color: #15f4ee;
}

.neon-green{
    color:#39ff14;
}

.bg-dark{
    background-color: #303030;
}

.bg-spec-dark{
    background-color: #262626;
}
/* ----- Base*/
.body{
    min-height: 100vh;
}
.navbar{
    padding-top:0.25rem;
    padding-bottom:0.25rem;
}


/* ----- Index */
.container-wrap {
    position: relative;
    min-height: 100vh;
}

.spacer{
    height: 6rem;
}

.index-bg {
  opacity: 0.2;
  overflow-y: hidden;
  background-color: #303030;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
}

.index-content {
  position: relative;
}

.search-form{
    border: 0.1rem solid #39ff14;
    padding: 1.5rem;
}

.form-control:focus {
    color: #444;
    background-color:#303030;
    border-color: #739ac2;
    outline: 0.5;

}

input { font-family: 'FontAwesome'; } 

.wrapper input[type="text"]:before {
    font-family: 'FontAwesome';
    position: absolute;
    top: 0px;
    left: -5px;
    content: "\f007";
}
 
.continents {
  box-shadow: 10px 10px 10px #349;
  background: #369;
}

.cont-img{
    height: auto;
    width: 100%;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}

.vert-head {
  font: bold 1rem Sans-Serif;
  color: #fff;
  writing-mode: vertical-rl;
  margin: 0.5rem auto 0;
}

/* Class name via Modernizr */
