/* ----- Fonts */

.exo{
    font-family: 'Exo', sans-serif;
}
.architects{
    font-family: 'Architects Daughter', cursive;
}

.uppercase{
    text-transform: uppercase;
}



/* ----- Base*/
.body{
    min-height: 100vh;
    max-width: 100vw;
    
}
.navbar{
    padding-top:0.25rem;
    padding-bottom:0.25rem;
    max-width: 100vw;
}


/* ----- Index */
.container-wrap {
    position: relative;
    min-height: 100vh;
    max-width: 100vw;
}

.spacer{
    height: 6rem;
}

.index-bg {
  opacity: 0.2;
  overflow-y: hidden;
  background-color: #303030;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  max-width: 1350px;
}

.index-content {
  position: relative;
}

.search-form{
    border: 0.1rem solid #39ff14;
}

.search-control{
    max-width: 100%;
    height: auto;
}



.form-control:focus {
    color: #444;
    background-color:#303030;
    border-color: #739ac2;
    outline: 0.5;

}
.search-nav-item{
    width: 100%;
    margin: 0.5rem 1rem;
}

input { 
    font-family: 'FontAwesome';
    display: block;
    width: 100%;

 } 

.wrapper input[type="text"]:before {
    font-family: 'FontAwesome';
    position: absolute;
    top: 0px;
    left: -5px;
    content: "\f007";
}
 
.continents {
  box-shadow: 0.5rem 0.8rem 0.5rem #349;
  background: #369;
  margin: 0;
}

.cont-img{
    height: auto;
    width: 100%;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}

.vert-head {
  font: bold 1rem Sans-Serif;
  color: #fff;
  writing-mode: vertical-rl;
  margin: 0.5rem auto 0;
}

.countries{
  box-shadow: 0.5rem 0.8rem 0.5rem #197508;
  background: #239e0d;
}

.top-deals{
    box-shadow: 0.5rem 0.8rem 0.5rem #ff073a;
    background: #f8f8ff
}

.deals-img{
    width: 100%;
    height: auto;
}

.deals-head{
    margin-top: 1rem;
}

.grow {
     transition: all .2s ease-in-out;
     }
.grow:hover {
     transform: scale(1.1); 
    }
/* ----- Colours */

.text-white{
    color: white;
}

.text-black{
    color: black;
}

.neon-blue{
color: #15f4ee;
}

.neon-red{
    color:  #ff073a;
}
.neon-green{
    color:#39ff14;
}

.btn-secondary{
    background-color: #369;
}
.btn-secondary:hover{
    background-color: #349;
}

.bg-dark{
    background-color: #303030;
}

.bg-spec-dark{
    background-color: #262626;
}

/* ----- Search Page */

.tour_search_form{
    width: 100%;
}

.search-checkbox{
    width: 50%;
    display: inline-block;
    padding-right: 10px;
    white-space: nowrap;
}

.checkboxes input {
  vertical-align: middle;
}
.checkboxes label span {
  vertical-align: middle;
}

/* Media Query */
@media only screen and (min-width: 769px) and (min-height:376px) {
  .form-check-inline{
      margin: 0;
  }
  .search-form {
      padding: 0.1rem;
  }
  .search-nav-item{
      width: 20%;
      margin: 0;
  }
}

@media only screen and (min-width: 1023px) {
  .search-control{
    max-width: 25%;
}
}

@media only screen and (min-width: 1200px) {
  
}




