{% extends 'base.html' %}

{% block content %}
<div class="spacer"></div>
<div class="container-wrap">
    <div class="row">
        <div class="col-md-2 text-center">
            {% if region %}
            <a href="{% url 'tour_search' %}?region={{region}}"> {{ region }} </a>
            {% endif %}
            {% if region and country %}
            /
            {% endif %}
            {% if country %}
            <a href="{% url 'tour_search' %}?country={{country}}">{{ country }}</a>
            {% endif %}
            {% if name %}
            <br>
            {{responses_no}} {% if responses_no != 1 %}responses{%else%}response{% endif %} for search "{{name}}"
            {% endif %}
            {% if category %}
            <br>
            <a href="{% url 'tour_search' %}?category={{category}}">{{ category }}</a>
            {% endif %}
        </div>
        <div class="col-12 col-md-8 text-center">
            <h1 class="neon-blue text-center">This is a Neon Llama</h1>
        </div>
        <div class="col-2">

        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-1 d-block d-md-none">

        </div>
        <div class="col-10 col-md-2 text-center rounded">
            <form class="tour_search_form search-form bg-dark text-center">
                <input class="form-control tour_search_form text-white bg-spec-dark form-col-3" type="text"
                    placeholder="&#xf002; Search Tour">
                <select name="Destination" id="Destination"
                    class="form-control text-white tour_search_form bg-spec-dark form-col-3" form="search">
                    <option value="Country">Destination</option>
                </select>
                <select class="form-control tour_search_form text-white d-block  bg-spec-dark form-col-3" name="cars"
                    id="cars" form="carform">
                    <option value="volvo">Tour Type</option>
                </select>
                <select class="form-control tour_search_form text-white d-block  bg-spec-dark form-col-3" name="cars"
                    id="cars" form="carform">
                    <option value="volvo">Budget</option>
                </select>
                <label class="text-white tour_search_form"> Likelihood of Llamas<span><input type="checkbox" id="llamas"
                            class="mb-2 search-checkbox"></span> </label>


                <button class="btn btn-secondary rounded submit" type="submit"> Search </button>
            </form>
        </div>
        <div class="col-9 col-md-9 search-form p-2">
            <div class="row not-gutters">
                {% if tours %}
                {% for tour in tours %}
                <a class="card" href="{% url 'tour_details' tour.id %}">
                    <div class="col-12 mb-3">

                        <div class="card">
                            <h4 class="exo neon-blue">{{tour.name}}</h4>

                            <p class="text-white"> {{tour.description}} </p>
                            <div>
                                {% for type in tour.category.all %}
                                <span class="mr-1"> <a href="{% url 'tour_search' %}?category={{type}}">
                                        {{type.category_type.name}}: {{type}} </a>
                                </span>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </a>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

</div>
{% endblock %}